/* shared styles */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.navbar,hr
{  max-width: 1600px;
    margin: 0 auto;}
/* navbar section */
.navbar{
    background-color: #1A0B2E;
    display: flex;
    align-items: center;
    justify-content: space-around;
   padding-top: 30px;
   padding-bottom: 30px;
}
.logo{
    font-weight: bold;
    font-size: 2.8rem;
    color: #FFFFFF;
}
.logo span{
    background: linear-gradient(to top ,#F7E93F,  #FB09B4 ,#9100F8);
    background-clip: text;
   -webkit-text-fill-color: transparent;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 32px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.btn{

     background: linear-gradient(to right ,#F7E93F,  #FB09B4 ,#9100F8);
     border: none;
     padding: 12.5px 16px;
     color: #FFFFFF;
     font-size: 1rem;
     font-weight: 600;
     border-radius: 30px;

        
}
.humberger{
    display: none;
}

@media screen and (max-width:576px){
    /* navbar section */
    .navbar{
        
    }
    .btn{ 
    display: none;       
    }
    .navbar ul{
    display: none;
    }
   .humberger{
    display: inline; 
   }

}